
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: #dedede;
  /*background-color: #ffffff;*/
  font-family: 'Times New Roman', sans-serif;
  font-size:    23px;
  /*color:        #fc0808;*/
}

.paper {
  background: #fff;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    margin-left: 190px;
  }

  .flex-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    align-items:center;
    /*vertical-align: middle;*/
  }
  
  h1 {
    color: #8f8f8ef6;
    text-align: center;
    font-size: 60px;
   
    }

    .caja{
      color: #555;
      padding: 0 !important;
      width: 500px;
    /*font-family: courier, monospace;*/
      border: 1px solid #dedede;
      /* box-shadow: 200px -5px 90px 2px #8b8585; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; 
      flex-direction: column;
      justify-content: center;
      align-items:center;

    
      /*box-shadow: 10px 10px 5px #aaaaaa;#8b8585 */
    }
    
    .list {
      color: #555;
      font-size: 22px;
      padding: 0 !important;
      width: 500px;
      /*font-family: courier, monospace;*/
      border: 1px solid #dedede;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; 
      flex-direction: column;
      justify-content: center;
      align-content: center; 
      align-items:center;
      /*vertical-align: middle;*/
    }

    input {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      /*background-color: #eee;
      background-color: rgb(221, 42, 42);*/
    }
    .center{
      display:flex;
      justify-content: center;
      align-items: center;
      margin:auto;
      width: 50%;
      /* padding: 70px 0; */


    }
    

    
   
span{
    /*visibility: visible;*/
    display:flexbox;
    font-size: 30px;
    color: #250404;
   }
